:root {
    --primary-color: #600D67;
    /* --primary-color-transparent: #600D67C0; */
    /* --secondary-color-transparent: #09002EC0; */
    --secondary-color: #09002E;
    --secondary-color-light: #463f62;
    --secondary-alt-color: #610083;
    --primary-light-color: #954FAD;
    --secondary-light-color: #E0E0E0;
    --font-dark-color: #020202;
    --font-light-color: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16;
    margin-top: 80px;
}

h1, h2, h3, h4, h5, p {
    line-height: 1.5em;
    padding: 0.4em 0;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: medium;
    font-size: 32px;
}

h3 {
    font-weight: normal;
    font-size: 26px;
}

h4 {
    font-weight: normal;
    font-size: 22px;
}

h5 {
    font-weight: normal;
    font-size: 18px;
}

p {
    font-weight: normal;
    font-size: 16px;
}

.head_content{
    border-style: solid;
    border-color: black;
    border-left: 0px;
    border-right: 0px;
    width: auto;
    padding-left: 5%;
}

.my_title {
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

.my_title .my_subtitle{
    color: var(--primary-color);
    font-weight: bold;
}

.my_form_container{
    padding: 5%;
    margin-right: 5%;
    width:auto;
}

.g-label{
    width: 25%;
}

.g-textarea{
    width: 75%;
}

label {
    padding: 12px 12px 12px 0;
    font-size: 26px;
}

textarea {
    background-color: #463f624c;
    color: var(--secondary-color);
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    resize: vertical;
    initial-value: "This";
}

.group{
    display: flex;
    padding: 3%;
}
.button-group{
    display: flex;
    padding: 3%;
}
.buttons{
    justify-content: center;
    text-align: center;
    width: 50%;
}
.my_button{
    height: 80%;
    margin-top: 5%;
    padding: 0.5em 1em;
    font-size: 18px;
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
    width:70%
}
.button1{
    background-color: var(--primary-light-color);
    color: var(--font-light-color);
}
.button2{
    background-color: var(--font-light-color);
    color: var(--font-dark-color);
}

.my_button:hover{
    font-weight: bolder;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

main {
    margin-top: 80px;
    height: 440vh;
    width: 100%;
    display: flex;
    justify-content: start;
    background-color: var(--secondary-light-color);
}

.main {
    width: 100%;
}

.main-section {
    height: 85vh;
    width: 93.5%;
    margin-left: 1%;
}

@media screen and (max-width: 600px) {
    .my_title{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .group{
        display:block;
    }
    .g-label, .g-textarea{
        width: 100%;
    }
    label{
        padding:0px;
        font-size: 15px;
    }
    .buttons{
        width: 100%;
    }
    .my_button{
        width: 99%;
        border: none;
    }
}


.member{
    display: none;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.681);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

