:root {
  --primary-color: #600d67;
  --secondary-color: #09002e;
  --secondary-color-light: #463f62;
  --secondary-alt-color: #610083;
  --primary-light-color: #954fad;
  --secondary-light-color: #e0e0e0;
  --font-dark-color: #020202;
  --font-light-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: medium;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
}

h4 {
  font-weight: normal;
  font-size: 22px;
}

h5 {
  font-weight: normal;
  font-size: 18px;
}

p {
  font-weight: normal;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  line-height: 1.5em;
  padding: 0.4em 0;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  height: 120px;
}

.search-bar {
  width: 100%;
  max-width: 800px;
  max-height: 50px;
  display: grid;
  margin: 1rem auto 1.2rem auto;
  grid-template-columns: 66% 33%;
  grid-template-rows: 50px;
  justify-content: center;
}

.search-bar__text {
  font-size: 20px;
  border: 3px solid var(--primary-color);
  border-radius: 5px 0 0 5px;
  text-align: center;
}

.search-bar__btn {
  color: var(--font-light-color);
  font-size: 20px;
  vertical-align: center;
  background-color: var(--primary-light-color);
  border: 3px solid var(--primary-color);
  border-left: 0;
  border-radius: 0 5px 5px 0;
}

.category-title {
  width: 100%;
  max-width: 900px;
  margin: 5px auto;
  text-align: left;
}

#category {
  width: 100%;
  max-width: 900px;
  height: 80px;
  font-size: 36px;
  padding: 1rem 4rem 1rem 1rem;
  border: 0px solid var(--primary-light-color);
  border-bottom: 3px solid var(--font-dark-color);
}

.search-options,
.category-options {
  width: 100%;
  max-width: 800px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: minmax(30px, 50px);
  justify-content: start;
}

.search-options__opt,
.category-options__opt {
  width: 24px;
  height: 24px;
  font-size: 24px;
  padding: 10px;
  margin: auto;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  background-color: var(--secondary-light-color);
}

.search-options__opt {
  color: var(--primary-color);
}

.category-options__opt {
  color: var(--font-dark-color);
}

.search-options__orderby,
.category-options__orderby {
  margin: auto;
}

.search-options__opt,
#order:hover {
  cursor: pointer;
}

.search-options__opt a {
  color: var(--primary-color);
  text-decoration: none;
}

.category-options__opt a {
  color: var(--font-dark-color);
  text-decoration: none;
}

#order {
  width: 220px;
  height: 35px;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  background-color: var(--secondary-light-color);
  border: 3px solid var(--primary-light-color);
  border-radius: 5px;
}

main {
  width: 100%;
  margin-bottom: 2rem;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.results-list {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(64px, 128px);
  align-items: end;
  gap: 0.5rem;
}

.past-search {
  max-height: 100px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: minmax(100px, 200px);
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.past-search:hover {
  cursor: pointer;
}

.user-profile {
  font-size: 72px;
}

.search-info {
  color: var(--font-dark-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20px, 40px);
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-info__code,
.search-info__date,
.search-info__name {
  font-weight: bold;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  text-align: center;
}

.search-info__code {
  grid-column: 1/3;
  color: var(--font-light-color);
  background-color: var(--primary-color);
}

.search-info__date {
  grid-column: 3/5;
  color: var(--font-light-color);
  background-color: var(--secondary-color);
}

.search-info__name {
  grid-column: 1/3;
  background-color: var(--secondary-light-color);
}

.search-info__stats {
  font-size: 24px;
  font-weight: bold;
}

.list-load-more {
  text-align: center;
}

.list-load-more__btn {
  color: var(--font-light-color);
  font-size: 18px;
  padding: 0.25rem;
  margin-top: 1.5rem;
  background-color: var(--primary-light-color);
  border: 3px solid var(--primary-color);
  border-radius: 0.5em;
}

.result-preview {
  max-height: 150px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: minmax(100px, 200px);
  justify-content: center;
  align-items: center;
}

.result-category {
  width: 70px;
  height: 70px;
  padding: 5px;
  color: var(--primary-light-color);
  text-align: center;
  vertical-align: center;
  background-color: var(--secondary-light-color);
  border-radius: 50%;
}

.result-info__title,
.result-info__date {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  text-align: center;
}

.result-info__title {
  grid-column: 1/4;
  font-weight: bold;
  color: var(--font-light-color);
  background-color: var(--primary-light-color);
}

.result-info__date {
  grid-column: 4/5;
  color: var(--font-light-color);
  background-color: var(--secondary-color);
}

.result-info__description {
  grid-column: 1/5;
  text-align: left;
  background-color: var(--secondary-light-color);
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.result-info {
  color: var(--font-dark-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20px, 35px);
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .category-title {
    font-size: 20px;
  }

  .search-bar__text {
    font-size: 14px;
  }

  .search-bar__btn {
    font-size: 14px;
  }

  #order {
    width: 180px;
    height: 35px;
    font-size: 14px;
  }

  .results-list {
    grid-auto-rows: minmax(auto, auto);
    gap: 0.3rem;
    align-items: center;
  }

  .result-category {
    width: 36px;
    height: 36px;
    padding: 6px;
    font-size: 8px;
  }

  .result-info {
    grid-template-columns: 100%;
    gap: 0;
    margin-bottom: 0;
    align-items: start;
  }

  .result-info__title {
    grid-column: 1/2;
  }

  .result-info__date {
    grid-column: 1/2;
  }

  .result-info__description {
    grid-column: 1/2;
  }

  .list-load-more__btn {
    font-size: 14px;
    margin-top: 2rem;
    background-color: var(--primary-light-color);
    border: 3px solid var(--primary-color);
    border-radius: 0.5em;
  }
}
