
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Roboto
  
}
body{
  /* min-height: 100vh; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(124, 124, 124);
}
.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.switch input[type=checkbox]{
  height:0;
  width:0;
  visibility: hidden;
}
.switch label{
  top: 450px;
  left: 80px;
  left: calc(50% + 25px);
  cursor: pointer;
  /* text-indent: -99999px; */
  width:50px;
  height:23px;
  background-color: #e6e6e6;
  border: 1px solid black;
  
  
  display: block;
  border-radius: 100px;
  position: relative;
}
.switch input:checked+label:after{
  /* left:calc(100% - 2px); */
  transform: translateX(30px);
}
.switch label:after{
  content: '';
  position: absolute;
  top: 0.3px;
  left:2px;
  width:20px;
  height:20px;
  background-color: #600D67;
  border-radius: 90px;
  transition: 0.3s;
}


/**/


.frame {
  /* width: 320px; */
  background: rgb(255, 255, 255);
  height: 580px;
  width: 320px;
  margin: auto;
  
  position: relative;
  top: 0px;
  left: 0px;
  /* overflow: hidden; */
  align-content: center;
  border-radius: 25px;
}
.button {
  width: 120px;
  height: 34px;
  background: #954fad;
  
  position: absolute;

  top: 519px;

  /* left: 86px; */
  left: calc(50% - 60px);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.txtButton {
  width: 120px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 528px;
  left: calc(50% -  60px);
  font-weight: Medium;
  font-size: 14px;
  
  text-align: center;
}

.text{
  font-weight: 600;
  color:rgb(0, 0, 0);
  font-size:24px;
  width:4%;
  height:12px;
}
.txtFinal {
  width: 196px;
  color: rgba(2,2,2,1);
  position: absolute;
  top: 470px;
  left: 38px;
  left: calc(50% - 150px);
  font-weight: Regular;
  font-size: 14px;
  
  text-align: center;
}

.line {
  width: 75%;
  height: 1px;
  background: rgba(9,0,45,1);
  
  position: absolute;
  top: 266px;
  left: 16px;
  overflow: hidden;
}
.titlePdP {
  width: 247px;
  color: rgba(96,12,103,1);
  position: absolute;
  top: 245px;
  left: 16px;
  font-weight: Bold;
  font-size: 14px;
  
  text-align: justify;
}
.lore1 {
  width: 75%;
  color: rgba(2,2,2,1);
  position: absolute;
  top: 107px;
  left: 16px;
  font-size: auto;
  
  text-align: justify;
}
.sqr {
  width: 10px;
  height: 10px;
  background: rgba(230,227,231,1);
  position: absolute;
  top: 6px;
  left: 266px;
}
.circle {
  width: 10px;
  height: 10px;
  background: rgba(230,227,231,1);
  
  position: absolute;
  top: 6px;
  left: 284px;
  border-radius: 50%;
}
.triangle {
  width: 0px;
  height:0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgba(230,227,231,1);
  
  position: absolute;
  top: 6px;
  left: 300px;
  /* background: rgba(230,227,231,1); */
  /* border: 0px solid rgba(255,255,255,1); */
}
.line2 {
  width: 75%;
  height: 1px;
  background: rgba(9,0,45,1);
  
  position: absolute;
  top: 106px;
  left: 16px;
  overflow: hidden;
}
.Title {
  width: 222px;
  color: rgba(96,12,103,1);
  position: absolute;
  top: 30px;
  left: 16px;
  font-weight: Bold;
  font-size: 20px;
  
  text-align: left;
}
.subTitle {
  width: 247px;
  color: rgba(96,12,103,1);
  position: absolute;
  top: 15%;
  left: 16px;
  font-weight: Bold;
  font-size: 14px;
  
  text-align: left;
}
.verticaltxt {
  color: rgba(96,12,103,1);
  position: absolute;
  top: 80px;
  left: 275px;
  font-weight: Bold;
  width: 30px;
  font-size: 30px;
  word-wrap: break-word;
  
  text-align: center;
}
.line0 {
  width: 320px;
  height: 1px;
  background: rgba(9,0,45,1);
  
  position: absolute;
  top: 20px;
  left: 0px;
  overflow: hidden;
}


.lore2 {
  width: 75%;
  color: rgba(2,2,2,1);
  position: absolute;
  top: 270px;
  left: 15px;
  font-weight: Regular;
  font-size: 10px;
  
  text-align: justify;

}
.bgIcon {
  width: 59px;
  height: 59px;
  background: rgba(9,0,45,1);
  
  position: absolute;
  top: 21px;
  left: 261px;
  overflow: hidden;
}
.icon {
  width: 37px;
  height: 37px;
  background: url("../images/v1_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  position: absolute;
  top: 31px;
  left: 272px;
  border-radius: 115px;
  overflow: hidden;
}
